/* Colors
================================

dark blue 
#0D7EAD
13, 126, 173

med blue
#4BACD6
75, 172, 214

lt blue
#D7F5FA
215, 245, 250

gold
#DDC100
221, 193, 0

vanilla
#FDFFDE
253 255 222
*/

/* General Page Styles
================================ */

* {
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1em/1.6;
  color: #222;
  background-color: rgba(253,255,222,.2);
}

.movie-title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.8em;
  color: #0D7EAD;
  margin-top: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 10px;
}

/* Header, Banner, Logo and Page Title
================================ */

.main-header {
  background-color: rgba(253,255,222,.5);
  padding: 15px 15px 10px 15px;
  overflow: hidden;
}

.main-logo {
  text-align: center;
}

.main-logo img {
  width: 100px;
  height: 69px;
}

.title-logo {
  display: block;
  margin: 0 auto;
}

.title-logo img {
  width: 100%;
  max-width: 400px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.main-footer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: .9em;
  background-color: #0D7EAD;
  clear: both;
}

footer p {
  color: #FDFFDE;
  }

/* Navigation and menus
================================ */

/* genre navigation */
.genre-nav {
  display: block;
}
  
.genre-nav li {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #DDC100;
  padding: 7px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
/* selected state */
.genre-nav li:hover {
  background-color: #4BACD6;
}

/* page navigation */

.main-nav {
  width: 130px;
  padding: 10px;
  background-color: rgba(215,245,250,.6);
  float: left;
}

.main-nav li {
  line-height: 2em;
}

.main-nav a {
  font-size: 1.2em;
  font-weight: 600;
  color: #4BACD6;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
}

.main-nav a:hover {
  color: #0D7EAD;
}

.main-nav a:active {
  color: #0D7EAD;
  font-weight: 700;
}

/* toggle ul styles */
.toggle-menu {
  display: block;
}
.toggle-menu li {
  margin-right: 15px;
  display: inline;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #DDC100;
  line-height: 2em;
  cursor: pointer;
}

/* Info - date, rating and genre
================================ */

.movie-info {
  margin-top: 10px;
}
.movie-info li {
  display: inline-block;
  color: #DDC100;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 60px;
}

/* Float Clearfix
================================ */

.group:after {
  content: " ";
  display: table;
  clear: both;
}

/* Media Queries
================================ */

@media (min-width: 550px) {

  .main-logo {
    display: inline;
  }
  .title-logo {
    max-width: 400px;
    display: inline;
  }
  .title-logo img {
    display: inline;
    width: 400px;
    height: 72px;
    margin-left: 15px;
  }
  /* main nav needs different layout */
  .main-nav {

  }
  .main-content {
    width: 96%;
    margin: 0 auto;
  }
}

@media (min-width: 669px) {
  .main-content {
    max-width: 1000px;
    width: initial;
    margin: initial;
  }
  .title-logo,
  .genre-nav,
  .toggle-menu {
    position: relative;
  }
  .main-logo img {
    width: 130px;
    height: 90px;
  }
  .title-logo {
    left: 0px;
    top: -18px;
  }
  .genre-nav {
    left: 145px;
    top: -18px;
    margin-top: 0;
  }
  .genre-nav li {
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
  }
  .toggle-menu {
    display: inline-block;
    left: 160px;
    top: -10px;
    margin: 0;
  }
  #movie-list {
    max-width: 80%;
    float: left;
    margin-left: 35px;
  }

}

@media (min-width: 861px) {
  .toggle-menu {
    left: 660px;
    top: -52px;
  }
}