/* Page Styles
================================ */

* {
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
}
body {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1em/1.5;
  color: #222;
}

/* Layout Element Colors
================================ */

/* 
dark blue 
#0D7EAD
13, 126, 173

med blue
#4BACD6
75, 172, 214

lt blue
#D7F5FA
215, 245, 250

gold
#DDC100
221, 193, 0

vanilla
#FDFFDE
253 255 222
*/

.main-content {
  position: relative;
}

header {
  padding: 0;
}

section {
  width: 60%;
  right: 0;
}

/* Headings and Styles
================================ */
.main-logo {
  width: 100px;
  background-color: rgb(253,255,222);
  padding: 10px;
  border-radius: 6px;
}

.main-logo img {
  width: 100%;
}

.title-logo img {
  width: 100%;
}

/* Font replaced by animated gif

header h1 {
  font-family: Raleway;
  font-size: 3em;
  font-weight: 900;
  color: #0D7EAD;
  text-transform: uppercase;
}
*/

.movie-title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.8em;
  color: #0D7EAD;
  margin-top: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 10px;
}

/* Navigation and menus
================================ */

/* genre navigation */

.genre-nav ul {
  display: inline-block;
}
.genre-nav li {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #DDC100;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* selected state */
.genre-nav li:active {
  background-color: #4BACD6;
}

/* page navigation */

.main-nav {
  width: 15%;
  padding: 10px;
  background-color: rgba(215,245,250,.6);
}

.main-nav li {
  line-height: 2em;
}

.main-nav a {
  font-size: 1.2em;
  font-weight: 600;
  color: #4BACD6;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
}

/* toggle ul styles */
.toggle-menu ul {
  display: inline-block;
}

/* toggle link styles */
#spoiler-toggle,
#newListing-toggle {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #DDC100;
  display: block;
  cursor: pointer;
}


/* Header, Section and Footer Layout
================================ */

.main-header {
  min-height: 100px;
  overflow: hidden;
}



.movie-info ul {
  position: relative;
  margin-top: 18px;
}
.movie-info li {
  display: inline-block;
  color: #DDC100;
  font-size: 1.2em;
  font-weight: 400;
}

.genre {
  right: 0;
}

.main-footer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-footer p {
  font-size: .9em;
}

/* Float Clearfix
================================ */

.group:after {
  content: " ";
  display: table;
  clear: both;
}

/* Media Queries
================================ */

@media (min-width: 769px) {

  .main-wrapper {
    width: 96%;
    margin: auto;
  }

  /* Header, Section and Footer Layout
  ================================ */

  }
  .main-logo {
    width: 150px;
  }
  .genre-nav {
    bottom: 32px;
    left: 200px;
  }
  .genre-nav li {
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
  }

  #movie-list {
    width: 70%;
    right: 0;
  }

}
