/* Colors
================================

dark blue 
#0D7EAD
13, 126, 173

med blue
#4BACD6
75, 172, 214

lt blue
#D7F5FA
215, 245, 250

gold
#DDC100
221, 193, 0

vanilla
#FDFFDE
253 255 222
*/

/* General Page Styles
================================ */

* {
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1em/1.6;
  color: #222;
  background-color: rgba(253,255,222,.2);
}

.main-content {
    width: 96%;
    height: 100%;
    margin: 0 auto 0 0;
    max-width: 1000px;
  }

h1,
.movie-title {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  color: #0D7EAD;
  margin-top: 24px;
  margin-bottom: 10px;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  color: #4BACD6;
  margin-top: 36px;
}

h1 + h2 {
  margin-top: 60px;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 10px;
}

/* Header, Banner, Logo and Page Title
================================ */

.main-header {
  background-color: rgb(253,255,222);
  padding: 15px 15px 10px 15px;
  overflow: hidden;
}

.main-logo {
  text-align: center;
}

.main-logo img {
  width: 100px;
  height: 69px;
}

.title-logo {
  display: block;
  margin: 0 auto;
}

.title-logo img {
  width: 100%;
  max-width: 400px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.main-footer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: .9em;
  background-color: #0D7EAD;
  clear: both;
}
.spoiler {
  color: #4BACD6;
}

footer p {
  color: #FDFFDE;
  }

/* Navigation and menus
================================ */

/* genre navigation */

/* turn off the glow around acive buttons */
button {
  outline: none;
} 
/* genre selection buttons */
.genre-nav {
  display: block;
}
  
.genre-nav button {
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #DDC100;
  padding: 6px;
  border-radius: 6px;
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
}

.genre-nav button:active {
  background-color: #4BACD6;
}

/* main page navigation links */

#home .home, 
#about .about, 
#careers .careers {
  background-color: #FFF;
}
#home nav .home > a,
#about nav .about > a,
#careers nav .careers > a {
  pointer-events: none;
  cursor: default;
}

.main-nav {
  width: 130px;
  background-color: rgba(215,245,250,.6);
  float: left;
}

.main-nav li {
  margin: 1em 0 1em 0;
}

.main-nav a {
  font-size: 1.2em;
  font-weight: 500;
  color: #4BACD6;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 6px 3px 20px;
}

.main-nav a:hover {
  color: #0D7EAD;
  font-weight: 700;
}

.main-nav a:active {
  color: #0D7EAD;
  font-weight: 700;
}

.toggle-menu button {
  border: none;
  background-color: rgb(215,245,250);
  margin-right: 15px;
  display: inline;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: #4BACD6;
  padding: 6px;
  border-radius: 6px;
} 

.toggle-menu button:active {
  background-color: #4BACD6;
  color: #FFF;
  font-weight: 600;
}

.selected {
  background-color: #4BACD6;
}

/* Info - date, rating and genre
================================ */

.movie-info {
  margin-top: 10px;
}
.movie-info li {
  display: inline-block;
  color: #DDC100;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 60px;
}

/* Float Clearfix
================================ */

.group:after {
  content: " ";
  display: table;
  clear: both;
}

/* Media Queries
================================ */

@media (min-width: 550px) {

  .main-logo {
    display: inline;
  }
  .title-logo {
    max-width: 400px;
    display: inline;
  }
  .title-logo img {
    display: inline;
    width: 400px;
    height: 72px;
    margin-left: 15px;
  }

  .genre-nav button {
    width: initial;
  }
  /* main nav needs different layout for narrow width */
  .main-nav {

  }
  
}

@media (min-width: 669px) {

  .title-logo,
  .genre-nav,
  .toggle-menu {
    position: relative;
  }
  .main-logo img {
    width: 130px;
    height: 90px;
  }
  .title-logo {
    left: 0px;
    top: -18px;
  }
  .genre-nav {
    left: 150px;
    top: -18px;
    margin-top: 0;
  }
  .genre-nav li {
    margin-right: 6px;
    margin-left: 6px;
    display: inline-block;
  }
  .toggle-menu {
    display: inline-block;
    left: 150px;
    top: -5px;
    margin: 0;
  }

}

@media (min-width: 861px) {

  .toggle-menu {
    left: 640px;
    top: -52px;
  }

  section {
    max-width: 80%;
    float: left;
    margin-left: 35px;
    margin-bottom: 24px;
  }
}